@model IList<EcommerceWebsite.Shared.CategoriesVm>

<div class="container">
    <div class="row justify-content-md-center" style=" border: 1px solid #E2E2E2; border-radius: 5px 5px;">
        @foreach (var cate in Model)
        {
            <div class="col col-lg-2">
                <a class="nav-link active" style="font-size:25px; color:black; font-family: 'Courier New', monospace;" asp-controller="Product" asp-action="GetProductByCategory" asp-route-idCate="@cate.CategoryID">@cate.CategoryName</a>
            </div>
        }
    </div>
</div>
<br />