@model IList<EcommerceWebsite.Shared.CategoriesVm>

<!-- As a link -->
<ul class="nav justify-content-center bg-light">
    @foreach (var cate in Model)
    {
        <li class="nav-item">
            <a class="nav-link active" style="font-size:20px" asp-controller="Product" asp-action="GetProductByCategory" asp-route-idCate="@cate.CategoryID">@cate.CategoryName</a>
        </li>
    }
</ul>
<br/>