@model IList<EcommerceWebsite.Shared.OrderVm>
@{
    ViewData["Title"] = "DS đơn hàng";
}

@if (Model.Count != 0)
{
    <table class="table border">
        <tr>
            <th style="text-align:center">Mã hóa đơn</th>
            <th style="text-align:center">Thời gian lập HĐ</th>
            <th style="text-align:center">Chức năng</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td style="text-align:center">@item.OrderID</td>
                <td style="text-align:center">@item.OrderDate</td>
                <td style="text-align:center">
                    <a class="btn btn-success" asp-action="Detail" asp-route-id="@item.OrderID"><i class="fas fa-info-circle"></i>&nbsp;Chi tiết</a>
                    <button type="button" class="btn btn-danger" id="btn-regist" data-toggle="modal" data-target="#confirm-delete">Hủy đơn</button>
                </td>
            </tr>
            <!--Modal confirm Yes/No-->
            <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <p>Xác nhận hủy đơn đặt hàng ?</p>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Thoát</button>
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.OrderID"><i class="fas fa-ban"></i>&nbsp;Hủy đơn</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </table>
}
else
{
    <div class="card text-center">
        <div class="card-body">
            <h5 class="card-title">Bạn chưa có đơn hàng nào.</h5>
            <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Bắt đầu mua sắm</a>
        </div>
    </div>
}

<!--Handle modal-->
<script type="text/javascript">
    $('#confirm-delete').on('show.bs.modal', function (e) {
        $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
        $('.debug-url').html('Delete URL: <strong>' + $(this).find('.btn-ok').attr('href') + '</strong>');
    });
</script>





