@{
    ViewData["Title"] = "Home Page";
}

<table class="table">
    <tr>
        <th>Sản phẩm</th>
        <th>Tên sản phẩm</th>
        <th>Giá tiền</th>
        <th style="text-align:center">Số lượng</th>
        <th>Xóa</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td><img src="@item.ImageLocation[0]" alt="Card image cap" width=180 height=100></td>
            <td>@item.ProductName</td>
            <td style="color:red">@item.Price</td>
            <td style="text-align:center">@item.Quantity</td>

            <td>             
                <span class="badge badge-danger" style="width:50px">Xóa</span>
            </td>
        </tr>
    }

</table>



