@*<div style="text-align:center">
    <h1>Đơn hàng của bạn đã được đặt thành công.</h1>
    <hr style="width:100%;text-align:left;margin-left:0">
    <h4>Hàng của bạn sẽ được chuyển đến trong thời gian sớm nhất.</h4>
</div>*@
<div class="card text-center">
    <div class="card-header">
        Thông báo
    </div>
    <div class="card-body">
        <h5 class="card-title">Đơn hàng của bạn đã được đặt thành công.</h5>
        <p class="card-text">Hàng của bạn sẽ được chuyển đến trong thời gian sớm nhất.</p>
        <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Trở về trang chủ</a>
    </div>
</div>
